* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.head {
    padding: 15px;
    background: #b2bec3;
    color: #0984e3;
    font-family: sans-serif;
}

.content {
    border: 1px solid #b2bec3;
    margin: 15px 50px;
}
.nav li {
    display: inline;
    padding: 10px;
    font: bold 20px sans-serif;
    color: white;
}

.nav {
    padding: 10px;
    background: #0984e3;
}

img {
    width: 30px;
}

article {
    margin: 20px 20px;
    background: #e2e180;
    color: #000000
}